*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia;
	text-decoration:none;

}
body{
	background-color: #77BEEF ;
	height: 100vh;
	padding: 10px;
}
#division1{
	background-color: #234963 ;
	text-align: center;
	margin: 0px auto;
	color: #F5D4D4;
	text-shadow: 1px 1px 2px #000000;
	border: 1px solid #31AADD;
	height: 30px;
	width: 280px;
	font-weight: 90%;
	line-height: 30px;
	overflow: ;
}

.tracking-in-contract{
	animation:tracking-in-contract 0.4s linear both} 
	@keyframes tracking-in-contract	{
		0%{letter-spacing:.6em;opacity:0}
		40%{opacity:.6}
		100%{letter-spacing:normal;opacity:1
									}
					}

#encuesta {


}

@media screen and (max-with: 992px) {

	
}